/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mainContent {
  overflow-y: auto;
  overflow-x: auto;
  height: calc(100vh - 64px - 19px);
  width: 100%;
}

.fill-space {
  flex: 1 1 auto;
}

.full-size {
  width: 100%;
  height: 100%;
  padding: 5px;
}
