.soundcloud-card {
  max-width: 320px;
  width: 100%;
  flex: 1 1 auto;
  margin-bottom: 20px;
}
.type-selector {
  display: inline-flex;
  flex-direction: column;
  max-width: 120px;
}
.type-selector-item {
  margin: 5px;
}