<ng-container *ngIf="soundcloudItem.kind === 'track'">
  <mat-card class="full-size">
    <mat-card-header>
      <mat-card-title>{{soundcloudItem.title}}</mat-card-title>
      <mat-card-subtitle>par {{soundcloudItem.user.username}}</mat-card-subtitle>
      <img mat-card-avatar src="{{soundcloudItem.user.avatar_url}}" alt="{{soundcloudItem.user.username}}">
    </mat-card-header>
    <!--img mat-card-image src="{{soundcloudItem.artwork_url}}" alt="Aucune image à afficher" *ngIf="soundcloudItem.artwork_url"-->
    <mat-card-content>
      <p>Genre : {{soundcloudItem.genre || 'Non défini'}}</p>
      <p>Créé le : {{soundcloudItem.created_at | date:'d/M/yyyy'}}</p>
      <p>Dernière modification le : {{soundcloudItem.last_modified | date:'d/M/yyyy'}}</p>
      <p>Durée : {{soundcloudItem.duration | date:'H:mm:ss':'+0'}}</p>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row nowrap" fxLayoutAlign="space-between start" fxLayoutGap="5px">
        <app-web-radio-server-play-button [url]="soundcloudItem.wrUrl"></app-web-radio-server-play-button>
        <app-web-radio-browser-player-button [url]="soundcloudItem.wrUrl"></app-web-radio-browser-player-button>
      </div>
    </mat-card-actions>
  </mat-card>
</ng-container>
