<mat-sidenav-container>
  <mat-sidenav 
    style="min-width: 240px;"
    mode="over" 
    [opened]="sideOpen" 
    (closedStart)="sideOpen = false">
    <mat-nav-list>
      <mat-list-item>
        <a href="https://iosystems.fr" target="_blank">
          <img src="assets/iosystems_bootstrap.png" width="240px">
        </a>
      </mat-list-item>
      <mat-list-item *ngFor="let link of navButtons">
        <a href="{{link.link}}"> {{link.title}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="5px" class="mainTopBar">
      <div fxFlex="1 0 auto">
        <mat-toolbar> <!-- class="mainToolbar">-->
          <button mat-icon-button (click)="sideOpen = !sideOpen">
            <mat-icon>menu</mat-icon>
          </button>
          <img *ngIf="imgUrl !== '' && href === ''" src="{{imgUrl}}">
          <span *ngIf="imgUrl !== '' && href !== ''">
            <a href="{{href}}" target="_blank">
              <img src="{{imgUrl}}">
            </a>
          </span>
          <a *ngIf="imgUrl === '' && href !== ''" href="{{href}}" target="_blank">{{title}}</a>
          <span *ngIf="imgUrl === '' && href === ''">{{title}}</span>
          <button mat-button (click)="createUrl()" class="toolbar-button" *ngIf="title === 'Bibliothèque'">
            <mat-icon>add</mat-icon>
            <span>Ajouter</span>
          </button>
          <span fxShow.lt-sm="false" *ngIf="displayTitle()" class="fill-space"></span>
          <span *ngIf="displayTitle()">
            <button mat-icon-button (click)="stopStream()">
              <mat-icon>stop</mat-icon>
            </button>
            {{mPlayer.status.url.name}}
          </span>
          <span class="fill-space"></span>
          <button mat-mini-fab (click)="volumeDown()" class="toolbar-button">
            <mat-icon>volume_down</mat-icon>
          </button>
          <button mat-mini-fab (click)="volumeUp()" class="toolbar-button">
            <mat-icon>volume_up</mat-icon>
          </button>
        </mat-toolbar>
      </div>

      <div fxFlex="1 1 auto" class="mainContent">
        <router-outlet></router-outlet>
      </div>

      <div fxFlex="1 0 auto" class="mainBottomBar">
        <span class="fill-space"></span>
        <span class="mat-body-1">Powered by Angular Material 6</span>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

