<mat-toolbar>
  <span>{{title}}</span>
  <span *ngIf="displayTitle()" class="fill-space"></span>
  <span *ngIf="displayTitle()">
     {{mPlayer.status.url.name}}
  </span>
  <span class="fill-space"></span>
  <button mat-mini-fab>
    <mat-icon>volume_down</mat-icon>
  </button>
  <!--mat-slider
    max="100"
    min="0"
    step="1"
    thumbLabel="true"
    [value]="absVolume"
    (change)="setVolume($event)">
  </mat-slider-->
  <button mat-mini-fab>
    <mat-icon>volume_up</mat-icon>
  </button>
</mat-toolbar>

<ng-container *ngIf="mPlayer.url.length > 0">
  <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="5px">
    <div fxFlex="21%" fxFlex.lt-sm="95%" fxFlex.lt-md="45%" *ngFor="let u of mPlayer.url" class="spacer">
      <app-web-radio-item
        [url]="u"
        (play)="play(u)"
        (stop)="stop(u)"
        (pause)="pause(u)"
        ></app-web-radio-item>
    </div>
  </div>
</ng-container>

