<ng-container *ngIf="browsed.type === 'topics'">
  <mat-nav-list>
    <mat-list-item *ngFor="let item of browsed.body" (click)="go(item)">{{item.text}}</mat-list-item>
  </mat-nav-list>
</ng-container>

<ng-container *ngIf="browsed.type === 'audio'">
  <div fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="5px">
    <div fxFlex="21%" fxFlex.lt-sm="95%" fxFlex.lt-md="45%" *ngFor="let u of browsed.body" class="spacer">
      <app-web-radio-item
        [url]="u.wrUrl"
        (play)="play(u.wrUrl)"
        (stop)="stop(u.wrUrl)"
        (pause)="pause(u.wrUrl)"
        ></app-web-radio-item>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="browsed.type === 'card'">
  <app-radio-time-browser-item *ngFor="let b of browsed.body" [browsed]="b.children"></app-radio-time-browser-item>
</ng-container>