<div 
  class="full-size"
  fxLayout="row nowrap" 
  fxLayoutAlign="space-between center" 
  fxLayoutGap="5px">
  <span fxFlex="0 0 auto">{{child.text}}</span>

  <ng-container *ngIf="child.type === 'audio'">
    <span class="fill-space"></span>
    <span fxFlex="0 0 auto">
      <app-web-radio-server-play-button
        [url]="child.wrUrl">
      </app-web-radio-server-play-button>
      <app-web-radio-browser-player-button
        class="right-button"
        [url]="child.wrUrl">
      </app-web-radio-browser-player-button>
    </span>
  </ng-container>

</div>
